body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to right,
        #011b22, /* Start with transparent black */
        #016c7c /* End with semi-transparent black */
      ) ; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }


  .about {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    position: fixed;
    /* transform: translateY(-150px); */
    max-width: 500px;
  }


.subtitle-container {
  position: fixed; /* or 'absolute' if you want it to be at the bottom of your content */
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px; /* Rounded corners at the top only */
  width: 300px; /* Cover the full width */
  height: 100%; /* Height as per your design */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #c2cace;
}



.design-container {
  position: absolute; /* or 'relative', 'fixed', or 'sticky' depending on your needs */
  top: 70px; /* Adjust as needed */
  left: 0px; /* Adjust as needed */

  /* Set the size of the container */
  width: 400px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */

  
  /* Optional styles for better appearance */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  color: white; /* Text color */
  font-family: Arial, sans-serif; /* Font family */
  text-align: center;
  font-size: 20px;
}


footer {
  background-color: #011e39;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
