body {
  height: 1200px;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.cover-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}


.hero-content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  perspective: 2000px;
  transform: translateY(-300px);
  height: 400
}


.hero-button {
  padding: 30px 60px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-color: #186488;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  /* Removed the `transform` property */
  margin-top: 20px;
  /* Optional: adds some space between the paragraph and the button */
}

.hero-button:hover {
  background-color: #4fc8cfcb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 200px;
  height: auto;
  transition: transform 1s ease;
  transform: translateY(0)
}

.logo {
  width: 200px;
  /* Adjust as needed */
  height: auto;
  transition: transform 1s ease;
}

.edge,
.carolina {
  margin: 0;
  /* Remove the transform property */
}

.mission-join-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-color: #f0f0f0;
  /* Light gray background, adjust as needed */
  padding: 50px 0;
  /* Add some padding */
  text-align: center;
  /* Center the text */
  transform: translateY(90px);

}

.mission-content {
  width: 80%;
  /* Adjust the width as needed */
  margin: 0 auto;
  /* Center the content */
}

.mission-content h2 {
  font-size: 3rem;
  /* Adjust the font size as needed */
  margin-bottom: 20px;
  /* Space between the title and the text */
  transform: translateY(-85px);
  padding: 20px 0;
  /* Add some padding */
  color: #012f5a;
}

.mission-content p {
  font-size: 1.2rem;
  /* Adjust the font size as needed */
  line-height: 1.5;
  /* Adjust the line height as needed */
  color: #012f5a;
  transform: translateY(-85px);
}

.join-button {
  padding: 30px 60px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-color: #186488;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  transform: translateY(-80px);
  margin-top: 20px;
  /* Optional: adds some space between the paragraph and the button */
}

.join-button:hover {
  background-color: #4fc8cfcb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.join-content {
  width: 40%;
  height: 10px;
  margin: 0 auto;
  transform: translateX(-300px);
}

.join-content h2 {
  font-size: 2.2rem;
  /* Adjust the font size as needed */
  margin-bottom: 20px;
  /* Space between the title and the text */
  transform: translateY(-85px);
  padding: 20px 0;
  /* Add some padding */
  color: #012f5a;
}

.join-content p {
  font-size: 1.2rem;
  /* Adjust the font size as needed */
  line-height: 1.5;
  /* Adjust the line height as needed */
  color: #012f5a;
  transform: translateY(-85px);
}

.logo-bottom {
  width: 300px;
  height: 300px;
  transform: translateX(300px) translateY(-100px);
}

@media (min-resolution: 300dpi) {

  .hero-content {
    display: none;
  }
}

@media (max-resolution: 110dpi) {

  .logo-bottom {
    transform: translateX(500px);
  }
}